@import '~antd/dist/antd.css';

.App {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;  
  background-color: beige;
}

.ant-page-body {
  padding: 0 25px;
}

.action {
  margin: 0;
  padding: 0;
}

.action-item {
  display: inline;
  margin-right: 15px;
}
